
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  /* Navigation styles */
  
  nav {
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo a {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin-left: 150px;
  }

  nav2 {
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  #dropdown {
    height: 40px;
    width: 400px;
    font-size: medium;
    margin-left: 150px;
  }
  
.table-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  border:1px solid grey
}

#line-chart {
  /* width: 100%; */
  height: auto;
  margin-left: -300px;
}

#secondheading{
  position: relative;
}
.tip{
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top:550px;
  left: 650px;
  height:150px;
  width:300px;
  border:2px solid black;
  z-index:600;
  text-align:left;
  padding: 5px;
  line-height: 22px;
  border-radius: 5px;
  box-shadow:0px 0px 8px 0px rgba(0,0,0,0.5);
  font-weight:400;
}
  